* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto Slab', serif;
}

header {
  background-color: rgb(113, 167, 185);
  width: 100%;
  height: 10%;
  font-size: 2em;
  padding: 5px 10px;
  margin-bottom: 1rem;
}

main {
  margin: 0 auto;
  width: 95%;
}
main {
  background-color: rgba(227, 230, 233, 0.863);
}

li {
  list-style: none;
}

.grid-item:hover {
  background-color: rgb(113, 167, 185);
  transition: background 400ms ease-in;
}

h2 {
  background-color: rgb(113, 167, 185);
  font-size: 1.5em;
  width: 100%;
  height: 5%;
  padding: 5px 10px;
  margin-bottom: 10px;
  clear: both;
}

.grid-item h3 {
  font-size: 1.2em;
}

.grid-item img {
  width: 80%;
  height: 55%;
  margin: 1em;
}

.grid-item p {
  font-size: 1em;
}

/**************** float grid******************/

.grid-floats {
  width: 100%;
  padding: 0px 5px;
  margin-bottom: 2rem;
}

.grid-floats .grid-item {
  display: block;
  width: 25%;
  height: 28.5em;
  text-align: center;
  float: left;
  margin-bottom: 1rem;
}

.grid-floats li:nth-child(1) {
  width: 45%;
  height: 30em;
}

.grid-floats li:nth-child(2) {
  width: 27.5%;
  height: 30em;
}

.grid-floats li:nth-child(3) {
  width: 27.5%;
  height: 30em;
}

/**************** Flex grid******************/

.grid-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 5px;
}

.grid-flex > .grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-bottom: 1rem;
}

.grid-flex li:nth-of-type(1) {
  width: 45%;
  height: 30rem;
}

.grid-flex li:nth-of-type(2) {
  width: 27.5%;
  height: 30rem;
}

.grid-flex li:nth-of-type(3) {
  width: 27.5%;
  height: 30rem;
}

/**********Media for tablet**********/

@media (max-width: 1024px) {
  /********* Grid float ***********/

  .grid-floats > .grid-item {
    width: 33.33%;
    height: 24rem;
  }

  .grid-floats li:nth-child(1) {
    width: 50%;
    height: 24rem;
  }

  .grid-floats li:nth-child(2) {
    width: 50%;
    height: 24rem;
  }

  .grid-floats li:nth-of-type(3) {
    width: 33.33%;
    height: 24rem;
  }

  /*********** Grid flex **********/

  .grid-flex > .grid-item {
    width: 33.33%;
    height: 24rem;
  }

  .grid-flex li:nth-of-type(1) {
    width: 50%;
    height: 24rem;
  }

  .grid-flex li:nth-of-type(2) {
    width: 50%;
    height: 24rem;
  }

  .grid-flex li:nth-of-type(3) {
    width: 33.33%;
    height: 24rem;
  }
}

/**********Media for Mobile **********/

@media (max-width: 600px) {
  /********* Grid float ***********/

  .grid-floats > .grid-item {
    width: 100%;
    height: 20rem;
  }

  .grid-floats li:nth-child(1) {
    width: 100%;
    height: 20rem;
  }

  .grid-floats li:nth-child(2) {
    width: 100%;
    height: 20rem;
  }

  .grid-floats li:nth-of-type(3) {
    width: 100%;
    height: 20rem;
  }

  /*********** Grid flex **********/

  .grid-flex > .grid-item {
    width: 100%;
    height: 20rem;
  }

  .grid-flex li:nth-of-type(1) {
    width: 100%;
    height: 20rem;
  }

  .grid-flex li:nth-of-type(2) {
    width: 100%;
    height: 20rem;
  }

  .grid-flex li:nth-of-type(3) {
    width: 100%;
    height: 20rem;
  }
}
