* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto Slab', serif;
}

header {
  background-color: rgb(113, 167, 185);
  width: 100%;
  height: 10vh;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.5rem;
  padding: 5px 10px;
}

main {
  background-color: rgba(227, 230, 233, 0.863);
  margin: 0 auto;
  width: 95%;
}

li {
  list-style: none;
}

.grid-item:hover {
  background-color: rgb(113, 167, 185);
  transition: background 400ms ease-in;
}

h2 {
  background-color: rgb(113, 167, 185);
  font-size: 1.7rem;
  width: 100%;
  height: 5vh;
  padding: 5px 10px;
  margin-bottom: 10px;
  clear: both;
}

h3 {
  font-size: 1.2rem;
}

img {
  width: 22rem;
  height: 21rem;
}

p {
  font-size: 1rem;
}

/**************** float grid******************/

.grid-floats {
  width: 100%;
  padding: 0px 5px;
  margin-bottom: 0.5rem;
  float: left;
}

.grid-floats > .grid-item {
  display: block;
  width: 25%;
  height: 28.5rem;
  text-align: center;
  float: left;
  margin-bottom: 1rem;
}

.grid-floats li:nth-child(1) {
  width: 45%;
  height: 30rem;
}

.grid-floats li:nth-child(2) {
  width: 27.5%;
  height: 30rem;
}

.grid-floats li:nth-child(3) {
  width: 27.5%;
  height: 30rem;
}

/**************** Flex grid******************/

.grid-flex {
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 5px;
}

.grid-flex > .grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-bottom: 1rem;
}

.grid-flex li:nth-of-type(1) {
  width: 45%;
  height: 30rem;
}

.grid-flex li:nth-of-type(2) {
  width: 27.5%;
  height: 30rem;
}

.grid-flex li:nth-of-type(3) {
  width: 27.5%;
  height: 30rem;
}

/**********Media for tablet**********/

@media (max-width: 1024px) {
  header {
    height: 6vh;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
    height: 4vh;
  }

  h3 {
    font-size: 1rem;
  }

  img {
    width: 14.5rem;
    height: 10rem;
  }

  p {
    font-size: 0.8rem;
  }

  /********* Grid float ***********/

  .grid-floats > .grid-item {
    width: 33.33%;
    height: 17rem;
  }

  .grid-floats li:nth-child(1) {
    width: 50%;
    height: 17rem;
  }

  .grid-floats li:nth-child(2) {
    width: 50%;
    height: 17rem;
  }

  .grid-floats li:nth-of-type(3) {
    width: 33.33%;
    height: 17rem;
  }

  /*********** Grid flex **********/

  .grid-flex > .grid-item {
    width: 33.33%;
    height: 17rem;
  }

  .grid-flex li:nth-of-type(1) {
    width: 50%;
    height: 17rem;
  }

  .grid-flex li:nth-of-type(2) {
    width: 50%;
    height: 17rem;
  }

  .grid-flex li:nth-of-type(3) {
    width: 33.33%;
    height: 17rem;
  }
}

/**********Media for Mobile **********/

@media (max-width: 600px) {
  header {
    height: 5vh;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
    height: 3vh;
  }

  h3 {
    font-size: 0.7rem;
  }

  img {
    width: 13rem;
    height: 9rem;
  }

  p {
    font-size: 0.5rem;
  }

  /********* Grid float ***********/

  .grid-floats > .grid-item {
    width: 100%;
    height: 12rem;
  }

  .grid-floats li:nth-child(1) {
    width: 100%;
    height: 12rem;
  }

  .grid-floats li:nth-child(2) {
    width: 100%;
    height: 12rem;
  }

  .grid-floats li:nth-of-type(3) {
    width: 100%;
    height: 12rem;
  }

  /*********** Grid flex **********/

  .grid-flex > .grid-item {
    width: 100%;
    height: 12rem;
  }

  .grid-flex li:nth-of-type(1) {
    width: 100%;
    height: 12rem;
  }

  .grid-flex li:nth-of-type(2) {
    width: 100%;
    height: 12rem;
  }

  .grid-flex li:nth-of-type(3) {
    width: 100%;
    height: 12rem;
  }
}
