.left-part {
  max-width: 45%;
  padding-left: 0;

  h2 {
    color: #00112c;
    font-weight: 700;
    font-size: 4em;
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
  }
  button.btn.btn-primary.btn-lg {
    margin: 0;
  }
}

.right-part {
  max-width: 45%;

  video {
    max-width: 100%;
  }
}

.partners-part {
  ul {
    list-style: none;
  }
}

@media screen and (max-width: 992px) {
  .left-part,
  .right-part {
    max-width: 100%;
  }
  .right-part {
    margin-top: 1.5em;
  }
}
