.empty-div {
  margin-top: -5rem;
}

.payments-wrapper {
  height: fit-content;
}
.payments-first {
  max-width: 45%;
  margin: 0 auto;
  min-height: 370px;

  h2 {
    font-size: 3em;
    text-align: center;
  }
  p {
    text-align: center;
  }
  a:hover {
    border-bottom: 1px solid #0abf53;
    padding-bottom: 0.5rem;
  }
}

.payments-second h3,
.payments-third h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.payments-second p,
.payments-third p {
  font-size: 1.1em;
  font-weight: lighter;
}

.payments-second {
  max-width: 45%;
}

.payments-third {
  max-width: 45%;
}

@media screen and (max-width: 992px) {
  .payments-second,
  .payments-third,
  .payments-first {
    max-width: 100%;
  }
}
