body{
    padding: 0px;
    margin:0;
    font-size: 20px;
    font-family: Trebuchet MS, sans-serif;
    
    
}

.container {
    max-width: 900px;
    height: 1350px;
    margin: 3% auto;
    background-color: rgba(167, 161, 161, 0.507);
    border-radius: 5%;
    padding-right: 5px;
}

header{
    width: 65%;
    height: 75px;
    float: right;
    border-bottom: 3px solid rgb(6, 57, 196);
    margin-top: 50px;
    
    
}

header h1 {
    margin: 10PX 0PX 5PX 15PX;
    font-size: 45px;
    color: rgba(14, 54, 184, 0.699);
}

aside {
    width: 35%;
    height: 700px;
    float: left;
    margin-top: 10px;    
    
}

aside ul {
    margin: 50px 20px;

}

aside ul li {
    margin-bottom: 25px;
    color: rgba(14, 54, 184, 0.699);
    font-size: 22px;
    list-style: none;
}

aside ul li:before {
    content: '\2012';
    position: absolute;
    margin-left: -25px;
  }

.picture {
    width: 290px;
    height: 350px;
}

aside  .picture img {
    width: 270px;
    border-radius: 50%;
    margin: 35px 12px;
    
    
}

main {
    width: 65%;
    height: auto;
    float: right;
}

h2 {
    color: rgba(14, 54, 184, 0.699);
}

h4 {
    margin-bottom: 10px;
    color: rgba(29, 57, 151, 0.658);
}

main li {
    margin-bottom: 10px;
    
}

main p {
    line-height: 1.5;
}


