* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    
}

header{
    background-color: rgb(113, 167, 185);
    width: 100%;
    height: 10vh;
    padding: 5px 0 0 20px;
    font-size: 28px;
}

main{
    background-color: rgba(227, 230, 233, 0.863);
    margin: 10px auto;
    width: 95%;
    height: 100%; 
}

h2 {
    background-color:  rgb(113, 167, 185);
    font-size: 24px ;
    width: 100%;
    height: 5vh;
    padding: 5px 15px;
    margin-bottom: 10px;
    

}

img{
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.grid-item:hover{
    background-color: rgb(113, 167, 185);
    transform: rotate(2deg);

}

section .grid-item{
    transition: background 400ms ease-in;
}


/**************** float grid******************/


.grid-floats {
    width: 100%;
    height: 100%;
    padding: 0px 5px;
    
    
}

.grid-floats .grid-item{
    width: 31.5%;
    padding: 0px 2.5px;
    height: fit-content;
    display: inline-block;
    margin-bottom: 25px;
    margin-right: 10px;
    margin-left: 10px;
    
    
}

.grid-item img {
    height: 450px;
    width: 100%;
}

.grid-floats h3 {
    padding-bottom: 10px;
}

.grid-floats p{
    padding-top: 10px;
}

.grid-floats li:nth-child(1){
    width: 44%;
    height: fit-content;
    float: left; 
    margin-right: 10px;  
    margin-left: 3px;
}

.grid-floats li:nth-child(2){
    width: 27% ;
    height: fit-content;
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}

.grid-floats li:nth-child(3){
    width: 26% ;
    height: fit-content;
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    
}




/**************** Flex grid******************/


.grid-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5px;
    justify-content: space-between;
    
}



.grid-flex .grid-item{
    margin-bottom: 10px;
    width: 32%;
    padding: 10px 5px 0 5px;
    
}

.grid-flex h3 {
    padding-bottom: 10px;
    font-size: 18px;

}

.grid-flex p{
    padding-top: 10px;
    padding-left: 5px;
    text-align: center;
}

.grid-flex li:nth-of-type(1){
    flex-basis: 44%;
    
}

.grid-flex li:nth-of-type(2){
    flex-basis: 26%;
    
}

.grid-flex li:nth-of-type(3){
    flex-basis: 26%;
    
}




/**********Media for tablet**********/

@media only screen and (max-width: 1024px) {

    header{
        
        background-color: rgb(113, 167, 185);
        width: 100%;
        height: 6vh;
        padding: 10px 0 0 20px;
        font-size: 24px;
    }

    h2 {
        background-color:  rgb(113, 167, 185);
        font-size: 20px ;
        width: 100%;
        height: 3vh;
        padding: 8px 15px;
        margin-bottom: 10px;  
    }


    /********* Grid float ***********/


    .grid-floats li:nth-child(1){
        width: 49%;
        height: fit-content;
        float: left;  
        margin-right: 7px;  
        margin-left: 0px;
    }
    
    .grid-floats li:nth-child(2){
        width: 49% ;
        height: fit-content;
        float: left;
        margin-right: 0px;  
        margin-left: 0px;
        
    }
    .grid-floats li:nth-child(3){
        width: 32%;
        float: none;
        margin-right: 0px;  
        margin-left: 0px;
        
        
    }

    .grid-floats .grid-item{
        margin-left: 7px;
        margin-right: 5px;
    }


    /*********** Grid flex **********/

    .grid-flex li:nth-of-type(1){
        flex-basis: 50%;
        
    }
    
    .grid-flex li:nth-of-type(2){
        flex-basis: 50%;
        
    }
    .grid-flex li:nth-of-type(3){
        flex-basis: 33%;
        
    }

}




/**********Media for phone**********/

@media (max-width: 600px) {

    header{
        
        background-color: rgb(113, 167, 185);
        width: 100%;
        height: 7vh;
        font-size: 22px;
        text-align: center;
    }

    h2 {
        background-color:  rgb(113, 167, 185);
        font-size: 14px ;
        width: 100%;
        height: 3vh;
        padding: 5px 15px;
        margin-bottom: 10px;  
    }



    /********* Grid float ***********/


    .grid-floats li:nth-child(1){
        width: 100%;
        height: fit-content;
        float: none;  
        margin-right: 0px;  
        margin-left: 0px;
    }
    
    .grid-floats li:nth-child(2){
        width: 100% ;
        height: fit-content;
        float: none;
        margin-right: 0px;  
        margin-left: 0px;
        
    }
    .grid-floats li:nth-child(3){
        width: 100%;
        float: none;
        margin-right: 0px;  
        margin-left: 0px;
        
        
    }

    .grid-floats .grid-item{
        width: 100%;
        height: fit-content;
        margin-left: 7px;
        margin-right: 5px;
    }


    /*********** Grid flex **********/

    .grid-flex li:nth-of-type(1){
        flex-basis: 100%;
        
    }
    
    .grid-flex li:nth-of-type(2){
        flex-basis: 100%;
        
    }
    .grid-flex li:nth-of-type(3){
        flex-basis: 100%;
        
    }

    .grid-flex .grid-item{
        width: 100%;
    }
}






